
button
{
border: 1px solid black;
border-radius:10 px;
background-color: palegoldenrod;
color:brown;
}
button:hover
{
    background-color: chocolate;
}
button:focus
{
background-color: cornflowerblue;
}
h1{
    color:rgb(76, 163, 238)
}
p
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:gray
}